/* kontrast-style.css */
h1 {
  color: #ccc; /* słaby kontrast */
}

p {
  color: #ccc;
}

button {
  background-color: #ddd;
  color: #eee;
  cursor: default;
}
button:hover,
button:focus {
  background-color: #ccc;
  color: #ddd;
  outline: none;
}
